.boardLeft {
    position: absolute;
    width: 200px;
    background-color:#fff;
    height: 100%;
    top: 0;
}
.boardRight{
    right: 0px;
    position: absolute;
    width: 200px;
    background-color: #fff;
    height: 100%;
    top: 0;
}
.boardcenter{
    position: absolute;
    width: 1200px;
   // background-color:red;
    height: 100%;
}

.boardcenter_report{
  position: absolute;
  width: 100%;
  height: 100%;
}






.extraContentSearch {
    width: 272px;
  }
  .dataSourceHeader{
    padding: 10px 0 10px 10px;
  }
  .list{
    margin:0;
    padding:5px;
  }
  .data-reload{
    padding:5px 0;
  
    // button
    .ant-btn{
      height:25px;
      padding: 0 15px;
      font-size: 13px;
    }
  }
  .tabInt{
    border-radius:0;
    margin-bottom:5px;
  }
  .header{
    height:35px;
    line-height:35px;
    padding:0 5px;
    .header-left{
      float:left;
      input{
        width: 285px;
        background-color: transparent;
        font-size: 14px;
        border: 1px solid #ccc;
        position: relative;
        max-width: 100%;
        height: 25px;
        line-height: 25px;
        -webkit-appearance: none;
        outline: 0;
        text-indent:5px;
      }
    }
    .header-right{
      float:right;
    }
  }
  :global{
    .bi-container{
      background-color: #fff;
      margin-bottom: 5px;
      position:relative;
      border: 1px solid #f2f2f2;
  
      .del-icon{
        position:absolute;
        top:3px;
        right:3px;
        cursor:pointer;
      }
    }
     /** 动态布局 使用的 add by wangliu 0829*/
    .bi-container-css{
      background-color: #fff;
      //margin-bottom: 5px;
      position:relative;
      border: 0px;
      z-index:0;
  
      .del-icon{
        position:absolute;
        top:3px;
        right:3px;
        cursor:pointer;
      }
    }
    /** Card */
    .ant-layout-content{
      .dsConfigArea > .ant-card-head{
          border-left:1px solid #d9d9d9;
      }
    }
    /** Custom */
    .dsConfigArea{
      height:100%;
      .ant-card{
        height:50%;
        border-bottom:none;
      }
      .ant-card-body > div{
        height:100%;
      }
      .card-icon-shrink{
        float:right;
        line-height:20px;
        transform: rotate(-45deg);
        font-size: 12px;
      }
    }
  
  }
  