<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <script src="https://unpkg.com/@jpmorganchase/perspective/build/perspective.js"></script>
  <script src="https://unpkg.com/@jpmorganchase/perspective-viewer/build/perspective.view.js"></script>
  <script src="https://unpkg.com/@jpmorganchase/perspective-viewer-hypergrid/build/hypergrid.plugin.js"></script>
  <script src="https://unpkg.com/@jpmorganchase/perspective-viewer-highcharts/build/highcharts.plugin.js"></script>
</head>
</head>
<body>
  <div id="root"></div>
</body>
</html>
